body{margin: 0 auto;
    
    height: 610px;
   
    background-image: linear-gradient(to top right,red,rgba(119, 96, 96, 0.1));
    background-repeat: no-repeat;
    
}
.satu{
    position: relative;
 
    margin: 0 auto;
    align-content: center;
    padding: 100px 200px 10px 200px;
    height: 300px;
    width: 20%;
    background-image: radial-gradient(ellipse at bottom,white,blue);

}
.dua{
    margin: 0 auto;
    margin-top: 12px;
   
    align-content: center;
    padding: 50px 199px 60px 199px;

    height: 50px;
    width: 20%;
    background-image: linear-gradient(to right,white,blue,white);

}






